<div class="container">
  <div class="child outline-box">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="col1">
        <mat-form-field class="flex-item">
          <input matInput formControlName="username" placeholder="Username">
        </mat-form-field>
      </div>
      <div class="col1">
        <mat-form-field class="flex-item">
          <input matInput type="email" formControlName="email" placeholder="Email">
        </mat-form-field>
      </div>
      <div class="col1">
        <mat-form-field class="flex-item">
          <input matInput type="password" formControlName="password" placeholder="Password">
        </mat-form-field>
      </div>

      <div class="col2">
        <mat-form-field class="flex-item">
          <input matInput formControlName="firstname" placeholder="First Name">
        </mat-form-field>
      </div>
      <div class="col2">
        <mat-form-field class="flex-item">
          <input matInput type="text" formControlName="lastname" placeholder="Last Name">
        </mat-form-field>
      </div>
      <div class="col2">
        <mat-form-field class="flex-item">
          <input matInput type="text" formControlName="phoneNumber" placeholder="Phone number">
        </mat-form-field>
      </div>

      <button class="btn btn-primary" type="submit">Save</button>

    </form>
  </div>

</div>
